<h4>Type a species name to find the chosen animals</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="ShowAnimalResults">
            <div class="form-group">
                <label for="Search" class="control-label"></label>
                <input name="Search" class="form-control" list="species-list" />
                <datalist id="species-list"></datalist>
            </div>
            <div class="form-group">
                <input type="submit" value="Find" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>